div.captionWrapper{  
    float:left; /* important */  
	margin: 10px;
    position:relative; /* important(so we can absolutely position the description div */  
} 
div.captionWrapper a:hover {text-decoration:none;}
div.captionDesc{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:2px; /* position will be on bottom */  
    left:0px;  
    width:100%;  
    background-color:rgba(0,0,0,0.7);  
    /*font-family: tahoma,arial,sans-serif;  */
    font-size:9px;  
    color:white;  
} 
p.descCon{  
    padding:5px;  
    margin:0px;  
	text-shadow:none;
}
input.mf {height:20px;}
textarea {width:300px;height:150px;}
.listTable {border-collapse: collapse;}
.listTable td {
	padding:3px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fcfcfc), to(#ECEBE8));
	text-transform:capitalize;
}
#menu a {
	text-decoration:none;
	font-size:16px;
	margin:7px;
	text-shadow:none;
	font-weight:bold;
}
#header {
	height:60px;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c3c0c0), to(#eeeeee));text-align:center;/*border-bottom: 1px solid*/
}
#hcontent {
	font-weight:bold;font-size: 32px;padding:2px;color:black;text-shadow:1px 2px 3px rgba(39, 116, 168, .77)
}
#loginC {
	display:none;position:absolute;top:35px;left:0px;width:100%;height:100%;background-color:rgba(0,0,0,0.7);
}
#loginFW {
	margin-top:100px;background-color:white;width:300px;margin-left:auto;margin-right:auto;border:1px solid black;padding:5px;
}
.cleared { clear:both }
.lefty { float:left }
#settingsC {
	margin-left: auto; margin-right: auto; width:400px;
}
#statusMessage {
	position:fixed;top:0px;left:40%;background-color:yellow;
}
.toptext {
	margin:1%;
	float:left;
	width:29%;
}
.whitebox {
	background:white;
	padding:1%;
	-webkit-border-radius: 7px;
}
.whitebox a {
	color:#333333;
}
h3 {margin-bottom: 5px;}
html,body {
	font-family: 'Asap', sans-serif;
	margin:0px;
}